AZURE_OPENAI_API_KEY=8zSxlria4qazWVJY3FyZa1gxoG5nNb04cE9RVrF7qCtQCEBZXvY5JQQJ99CCACYeBjFXJ3w3AAAAACOGZ4rO
AZURE_OPENAI_ENDPOINT=https://openai-teste01.services.ai.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4o
